:root {
  --calendar\(background-color\): hsl(0, 0%, 25%);
  --calendar\(color\): hsl(0, 0%, 75%);
}
.calendar {
  background-color: var(--calendar\(background-color\));
  border-radius: var(--border-width);
  color: var(--calendar\(color\));
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
