:root {
  --calendar\(background-color\): hsl(0, 0%, 25%);
  --calendar\(color\): hsl(0, 0%, 75%);
  --calendar__day_current\(background-color\): #fff;
  --calendar__day_current\(color\): #000;
}
.calendar {
  background-color: var(--calendar\(background-color\));
  border-radius: 0.5rem;
  color: var(--calendar\(color\));
  cursor: move;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  user-select: none;
}
.calendar > div:nth-child(n + 2):nth-child(-n + 8) {
  color: var(--calendar__day_current\(background-color\));
}
.calendar__day {
  padding-bottom: 100%;
  position: relative;
}
.calendar__day:not(.calendar__day_current):not(.calendar__day_test) {
  cursor: pointer;
}
.calendar__day_current {
  background-color: var(--calendar__day_current\(background-color\));
  border-radius: 50%;
  color: var(--calendar__day_current\(color\));
}
.calendar__day_test {
  background-color: transparent;
  color: hsl(0, 0%, 50%);
}
.calendar__header {
  cursor: pointer;
}
