:root {
  --calendar\(background-color\): hsl(0, 0%, 25%);
  --calendar\(color\): hsl(0, 0%, 75%);
}
.calendar {
  -webkit-user-select: none;
  background-color: var(--calendar\(background-color\));
  color: var(--calendar\(color\));
  grid-template-columns: repeat(7, minmax(0, 1fr));
  user-select: none;
}
.calendar__header {
  grid-column: 1/8;
}
.calendar .icon {
  cursor: pointer;
}
