.horizontal-number-slider {
  --slider\(background-color\): #fff;
  --slider\(size\): 1.5rem;

  --line\(color\): #000;
  --line\(height\): calc(var(--border-width) * 2);

  height: var(--slider\(size\));
  position: relative;
}
.horizontal-number-slider::after {
  background-color: var(--line\(color\));
  content: '';
  height: var(--line\(height\));
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.horizontal-number-slider__slider {
  background-color: var(--slider\(background-color\));
  border: var(--line\(height\)) solid var(--line\(color\));
  border-radius: 50%;
  cursor: pointer;
  height: var(--slider\(size\));
  position: absolute;
  width: var(--slider\(size\));
  z-index: 1;
}
