.horizontal-number-slider {
  --line-height: 0.125rem;

  position: relative;
}
.horizontal-number-slider::after {
  background-color: currentColor;
  border-radius: calc(var(--line-height) / 2);
  content: '';
  height: var(--line-height);
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-number-slider__left {
  background-color: #fff;
  border: calc(var(--line-height) * 2) solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  position: relative;
  width: 2rem;
  z-index: 1;
}
