.horizontal-number-slider {
  --left\(background-color\): #fff;
  --left\(size\): 1.5rem;

  --line\(color\): currentColor;
  --line\(height\): var(--border-width);

  --right\(background-color\): var(--left\(background-color\));

  height: var(--left\(size\));
  position: relative;
}
.horizontal-number-slider::after {
  background-color: var(--line\(color\));
  border-radius: calc(var(--line\(height\)) / 2);
  content: '';
  height: var(--line\(height\));
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
/* (1) */
.horizontal-number-slider__left,
.horizontal-number-slider__right {
  background-color: var(--left\(background-color\));
  border: var(--line\(height\)) solid var(--line\(color\));
  border-radius: 50%;
  cursor: pointer;
  height: var(--left\(size\));
  position: absolute;
  width: var(--left\(size\));
  z-index: 1;
}
/* (2) background-color */
.horizontal-number-slider__right {
  background-color: var(--right\(background-color\));
}
