.game {
  background-color: hsl(0, 0%, 25%);
  border-radius: 0.125rem;
  color: #fff;
}
.input {
}
.input__key {
  background-color: hsl(0, 0%, 50%);
  border-radius: 0.125rem;
}
.keyboard {
}
.keyboard__key {
  background-color: hsl(0, 0%, 50%);
  border: 0.125rem solid hsl(0, 0%, 50%);
  border-radius: 0.125rem;
}
