.t {
  position: relative;
}
.t-chevron-left,
.t-chevron-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.t-chevron-left {
  left: 0;
}
.t-chevron-right {
  right: 0;
}
