.t {
  position: relative;
}
.t-chevron-left,
.t-chevron-right {
  --chevron\(background-color\): #000;
  --chevron\(color\): #fff;

  background-color: var(--chevron\(background-color\));
  border-radius: 50%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  color: var(--chevron\(color\));
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.t-chevron-left {
  left: 0;
  transform: translate(25%, -50%);
}
.t-chevron-right {
  right: 0;
  transform: translate(-25%, -50%);
}
