:root {
  --t-chevron\(background-color\): hsl(0, 0%, 12.5%);
  --t-chevron\(color\): hsl(0, 0%, 87.5%);

  --t-percentage\(background-color\): hsl(0, 0%, 25%);
  --t-percentage\(height\): var(--border-width);
  --t-percentage__div\(background-color\): hsl(0, 0%, 75%);
}
.t {
  position: relative;
}
.t-chevron-left,
.t-chevron-right {
  background-color: var(--t-chevron\(background-color\));
  border-radius: 50%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  color: var(--t-chevron\(color\));
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.t-chevron-left {
  left: 0;
  transform: translate(25%, -50%);
}
.t-chevron-right {
  right: 0;
  transform: translate(-25%, -50%);
}
.t-moving {
  position: relative;
}
.t-moving::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.t-percentage {
  background-color: var(--t-percentage\(background-color\));
  border-radius: calc(var(--t-percentage\(height\)) / 2);
  height: var(--t-percentage\(height\));
}
.t-percentage__div {
  background-color: var(--t-percentage__div\(background-color\));
  border-radius: inherit;
  height: 100%;
}
