/*
 * Copyright 2023 Marek Kobida
 */

:root {
  --t-percentage\(background-color\): hsl(0, 0%, 25%);
  --t-percentage\(height\): calc(var(--border-width) * 2);
  --t-percentage__div\(background-color\): hsl(0, 0%, 75%);
}
.t-percentage {
  background-color: var(--t-percentage\(background-color\));
  height: var(--t-percentage\(height\));
}
.t-percentage > div {
  background-color: var(--t-percentage__div\(background-color\));
}
